In [ ]:
import kagglehub
import shutil
import os
import pandas as pd

C:\Users\clebe\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\LocalCache\local-packages\Python313\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

### Download

In [12]:
# Download dataset
path = kagglehub.dataset_download("olistbr/brazilian-ecommerce")

# Move files to the current directory
shutil.move(path, "./data")

print("Files Downloaded to:", "./data")

Downloading from https://www.kaggle.com/api/v1/datasets/download/olistbr/brazilian-ecommerce?dataset_version_number=2...

100%|██████████| 42.6M/42.6M [00:07<00:00, 5.82MB/s]

Extracting files...

Files Downloaded to: ./data

# ETL

## Extraction

In [13]:
data_path = "./data"
files = os.listdir(data_path)

In [14]:
files

['olist_customers_dataset.csv',
 'olist_geolocation_dataset.csv',
 'olist_orders_dataset.csv',
 'olist_order_items_dataset.csv',
 'olist_order_payments_dataset.csv',
 'olist_order_reviews_dataset.csv',
 'olist_products_dataset.csv',
 'olist_sellers_dataset.csv',
 'product_category_name_translation.csv']

In [15]:
customers_dataset = pd.read_csv(f"{data_path}/olist_customers_dataset.csv")

geolocation_dataset = pd.read_csv(f"{data_path}/olist_geolocation_dataset.csv")

orders_dataset = pd.read_csv(f"{data_path}/olist_orders_dataset.csv")

order_items_dataset = pd.read_csv(f"{data_path}/olist_order_items_dataset.csv")

order_payments_dataset = pd.read_csv(f"{data_path}/olist_order_payments_dataset.csv")

order_reviews_dataset = pd.read_csv(f"{data_path}/olist_order_reviews_dataset.csv")

products_dataset = pd.read_csv(f"{data_path}/olist_products_dataset.csv")

sellers_dataset = pd.read_csv(f"{data_path}/olist_sellers_dataset.csv")

## Treatment

### 1. Customers dataset

In [16]:
customers_dataset.head(5)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

### 2. Geolocation dataset

In [18]:
geolocation_dataset.head(5)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP

In [21]:
# Creating the column 'geolocation_state_brazil'

uf_to_state = {
    'AC': 'Acre', 'AL': 'Alagoas', 'AP': 'Amapá', 'AM': 'Amazonas', 'BA': 'Bahia',
    'CE': 'Ceará', 'DF': 'Distrito Federal', 'ES': 'Espírito Santo', 'GO': 'Goiás',
    'MA': 'Maranhão', 'MT': 'Mato Grosso', 'MS': 'Mato Grosso do Sul', 'MG': 'Minas Gerais',
    'PA': 'Pará', 'PB': 'Paraíba', 'PR': 'Paraná', 'PE': 'Pernambuco', 'PI': 'Piauí',
    'RJ': 'Rio de Janeiro', 'RN': 'Rio Grande do Norte', 'RS': 'Rio Grande do Sul',
    'RO': 'Rondônia', 'RR': 'Roraima', 'SC': 'Santa Catarina', 'SP': 'São Paulo',
    'SE': 'Sergipe', 'TO': 'Tocantins'
}

geolocation_dataset['geolocation_state_brazil'] = 'BRAZIL-' + geolocation_dataset['geolocation_state'].map(uf_to_state)

geolocation_dataset.to_csv(f"{data_path}/olist_geolocation_dataset.csv", index=False)

### 3. Orders dataset

In [22]:
orders_dataset.head(5)

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

### 4. Order items dataset

In [24]:
order_items_dataset.head(5)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

### 5. Order payments dataset

In [26]:
order_payments_dataset.head(3)

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71

In [27]:
order_payments_dataset["payment_type"].unique()

array(['credit_card', 'boleto', 'voucher', 'debit_card', 'not_defined'],
      dtype=object)

In [32]:
# Replace "_" to space
order_payments_dataset["payment_type"] = order_payments_dataset["payment_type"].str.replace("_", " ")

order_payments_dataset["payment_type"].unique()

array(['credit card', 'boleto', 'voucher', 'debit card', 'not defined'],
      dtype=object)

In [33]:
order_payments_dataset.to_csv(f"{data_path}/olist_order_payments_dataset.csv", index=False)

### 6. Order reviews dataset

In [34]:
order_reviews_dataset.head(3)

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24

In [35]:
order_reviews_dataset["review_comment_title"].unique()

array([nan, 'recomendo', 'Super recomendo', ...,
       'Não foi entregue o pedido', 'OTIMA EMBALAGEM', 'Foto enganosa '],
      shape=(4528,), dtype=object)

In [36]:
order_reviews_dataset["review_comment_message"].unique()

array([nan, 'Recebi bem antes do prazo estipulado.',
       'Parabéns lojas lannister adorei comprar pela Internet seguro e prático Parabéns a todos feliz Páscoa',
       ...,
       'O produto não foi enviado com NF, não existe venda sem NF, com certeza fico no aguardo do envio da NF podendo ser por e-mail.',
       'Excelente mochila, entrega super rápida. Super recomendo essa loja!',
       'meu produto chegou e ja tenho que devolver, pois está com defeito , não segurar carga'],
      shape=(36160,), dtype=object)

In [37]:
# Replace "NaN" values to empty
order_reviews_dataset["review_comment_title"] = order_reviews_dataset["review_comment_title"].fillna("")
order_reviews_dataset["review_comment_message"] = order_reviews_dataset["review_comment_message"].fillna("")

In [38]:
order_reviews_dataset.to_csv(f"{data_path}/olist_order_reviews_dataset.csv", index=False)

### 7. Products dataset

In [ ]:
products_dataset.head(3)

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0

In [41]:
# Replace "_" to space
products_dataset["product_category_name"] = products_dataset["product_category_name"].str.replace("_", " ")

products_dataset["product_category_name"].unique()

array(['perfumaria', 'artes', 'esporte lazer', 'bebes',
       'utilidades domesticas', 'instrumentos musicais', 'cool stuff',
       'moveis decoracao', 'eletrodomesticos', 'brinquedos',
       'cama mesa banho', 'construcao ferramentas seguranca',
       'informatica acessorios', 'beleza saude', 'malas acessorios',
       'ferramentas jardim', 'moveis escritorio', 'automotivo',
       'eletronicos', 'fashion calcados', 'telefonia', 'papelaria',
       'fashion bolsas e acessorios', 'pcs', 'casa construcao',
       'relogios presentes', 'construcao ferramentas construcao',
       'pet shop', 'eletroportateis', 'agro industria e comercio', nan,
       'moveis sala', 'sinalizacao e seguranca', 'climatizacao',
       'consoles games', 'livros interesse geral',
       'construcao ferramentas ferramentas',
       'fashion underwear e moda praia', 'fashion roupa masculina',
       'moveis cozinha area de servico jantar e jardim',
       'industria comercio e negocios', 'telefonia fixa',
       'construcao ferramentas iluminacao', 'livros tecnicos',
       'eletrodomesticos 2', 'artigos de festas', 'bebidas',
       'market place', 'la cuisine', 'construcao ferramentas jardim',
       'fashion roupa feminina', 'casa conforto', 'audio',
       'alimentos bebidas', 'musica', 'alimentos',
       'tablets impressao imagem', 'livros importados',
       'portateis casa forno e cafe', 'fashion esporte',
       'artigos de natal', 'fashion roupa infanto juvenil',
       'dvds blu ray', 'artes e artesanato', 'pc gamer', 'moveis quarto',
       'cine foto', 'fraldas higiene', 'flores', 'casa conforto 2',
       'portateis cozinha e preparadores de alimentos',
       'seguros e servicos', 'moveis colchao e estofado',
       'cds dvds musicais'], dtype=object)

In [42]:
products_dataset.to_csv(f"{data_path}/olist_products_dataset.csv", index=False)

### 8. Sellers dataset

In [43]:
sellers_dataset.head(3)

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ

### -----------------------------------------------------------------------------

### Description
Olist follows a relational database model. Here is a basic map of the connections:

olist_orders_dataset.csv (Orders) is the central table.

olist_customers_dataset.csv (Customers) connects via customer_id.

olist_order_items_dataset.csv (Order Items) connects via order_id.

olist_order_payments_dataset.csv (Payments) connects via order_id.

olist_order_reviews_dataset.csv (Reviews) connects via order_id.

olist_products_dataset.csv (Products) connects via product_id.

olist_sellers_dataset.csv (Sellers) connects via seller_id.

olist_geolocation_dataset.csv (Geolocation) can be linked by zip_code_prefix.